.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.emptyCart {
  width: 100%;
  height: 100vh;
  background: #a0d2eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.priceInfo {
  width: 50%;
  flex-grow: grow;
  min-height: 800px;
}

.formContainer {
  width: 50%;
}

.resPriceInfo {
  display: none;
}

.orderSummary {
  display: flex;
  padding: 40px 0;
  justify-content: space-around;
  background: #a0d2eb;
  font-weight: 300;
  font-size: 20px;
  transition: opacity 300ms ease-in-out;
}

.orderSummary:hover {
  cursor: pointer;
  opacity: 0.9;
}

.orderSummary i {
  padding: 5px;
}

.toggle {
  font-size: 14px;
  color: rgb(82, 82, 82);
}

:global(.StripeElement) {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
  width: 100%;
}

:global(.StripeElement--focus) {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

:global(.checkoutForm-enter) {
  opacity: 0;
}

:global(.checkoutForm-enter-active) {
  opacity: 1;
  transition: all 300ms ease;
}

:global(.checkoutForm-exit) {
  opacity: 1;
}

:global(.checkoutForm-exit-active) {
  opacity: 0;
  transition: all 300ms ease;
}

:global(.resCartInfo-enter) {
  max-height: 0;
  overflow: hidden;
}

:global(.resCartInfo-enter-active) {
  max-height: 800px;
  transition: all 300ms ease-in-out;
}

:global(.resCartInfo-exit) {
  max-height: 800px;
  overflow: hidden;
}

:global(.resCartInfo-exit-active) {
  max-height: 0;
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .formContainer {
    width: 100%;
  }
  .resPriceInfo {
    display: block;
  }
  .priceInfo {
    display: none;
  }
}



