/* Contact form */

.contactContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  overflow: hidden;
}

.formInputContainer {
  width: 500px;
  display: flex;
  justify-content: center;
  position: relative;
}

.formInputContainer input {
  font-size: 18px;
  display: block;
  padding: 15px;
  box-shadow: rgba(39, 39, 73, 0.149) 0px 5px 5px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
  width: 100%;
  border: none;
}

.formInputContainer input:focus {
  background: rgb(182, 219, 255);
}

.formError {
  background: rgb(255, 164, 164);
}

.errorNotif {
  position: absolute;
  width: 150px;
  font-size: 12px;
  bottom: -20px;
  left: 0px;
  color: rgb(253, 133, 133);
  z-index: 2;
}

.addressRow {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  width: 90%;
  margin: 10px 0 20px 0;
  padding: 20px 14px;
}

.addressRow div {
  width: 100px;
}

.autocompleteDropdownContainer {
  position: absolute;
  top: 55px;
  left: -1px;
  z-index: 3;
  width: 498px;
  border: 1px solid rgb(216, 216, 216);
}

.autocompleteDropdownContainer:empty {
  border: none;
}

.suggestionItem {
  padding: 20px 10px;
  font-size: 16px;
  background: white;
}

.suggestionItem:hover {
  cursor: pointer;
  background: dodgerblue;
  color: white;
}

.formLabel {
  width: 550px;
  font-size: 30px;
  font-weight: 300;
  padding: 30px;
}

.submitButton {
  background:  #cd5554;
  border: none;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.submitButton:hover {
  opacity: 0.8;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  .formInputContainer {
    width: 90%;
  }
  .formLabel {
    width: 95%;
  }
  .addressRow div {
    width: 70px;
  }

  .autocompleteDropdownContainer {
    width: 95%;
  }
}