.container {
  overflow: hidden;
  padding-top: 100px;
}

.header {
  width: 100%;
  height: calc(95vh - 300px);
  background: #cd5554;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  margin-top: 150px;
  padding: 30px 100px;
  border: 3px solid #fceed1;
  border-radius: 10px;
  font-size: 56px;
  color: #fceed1;
  z-index: 2;
}

.desc {
  font-size: 32px;
  padding: 10px;
  color: #fceed1;
  z-index: 2;
}

.action {
  margin: 10px;
  padding: 10px 20px;
  background: #fceed1;
  border-radius: 5px;
  color: #cd5554;
  font-size: 24px;
  transition: all 300ms ease;
  z-index: 2;
}

.action:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.header svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -300px;
  height: 300px;
  width: 100%;
  z-index: 1;
}

.greeting {
  font-size: 36px;
  padding: 400px 0 200px 0;
  text-align: center;
  background: #fceed1;

}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.category {
  width: 33.333%;
  padding-top: 33.333%;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
}

.categoryContent {
  opacity: 0;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  transition: opacity 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category:hover .categoryContent {
  opacity: 1;
  background: rgba(199, 199, 199, 0.5);
}

.categoryLink {
  color: rgb(255, 255, 255);
  width: 15%;
  height: 15%;
  background: #cd5554;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-weight: 200;
  font-size: 24px;
  transform: scale(1);
  transition: all 300ms ease;
}

.categoryLink:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 800px) {
  .category {
    width: 100%;
    padding-top: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
  }

  .title {
    font-size: 32px;
    padding: 20px 60px;
  }

  .desc {
    font-size: 18px;
  }

  .action {
    font-size: 20px;
  }

  .deal, .greeting {
    width: 100%;
    flex-grow: 1;
  }
  .deal {
    margin-left: 25px;
  }
}

@media screen and (max-width: 600px) {

  .dealMsg {
    font-size: 20px;
    width: 300px;
  }

  .greetingMsg {
    font-size: 24px;
    width: 300px;
  }

  .signupButton {
    font-size: 16px;
    padding: 7px 21px;
  }
}