.container {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #494d5f;
  color: #e5eaf5;
  font-size: 20px;
  z-index: 2;
}

a {
  color: #e5eaf5;
  text-decoration: none;
}

.shop, .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.account, .cartButton, .shopLink {
  position: relative;
  height: 70px; 
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accountButton, .cartButton, .shopLink {
  font-size: 24px;
  cursor: pointer;
}

.accountLink {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 16px;
  z-index: 2;
}

.logo {
  position: absolute;
  width: 150px;
  left: 50%;
  text-align: center;
  margin-left: -75px;
  color: #e5eaf5;
  transition: .3s ease;
  font-size: 36px;
}

.logo:hover {
  color: #a0d2eb;
}

.cartCount {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a0d2eb;
  border-radius: 50%;
  color: #494d5f;
}

:global(.shopMenu-enter) {
  max-height: 0;
  overflow: hidden;
}

:global(.shopMenu-enter-active) {
  max-height: 200px;
  transition: all 500ms ease-in-out;
}

:global(.shopMenu-exit) {
  max-height: 200px;
  overflow: hidden;
}

:global(.shopMenu-exit-active) {
  max-height: 0;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 1000px) {
  .accountButton {
    padding: 0;
    width: 25px;
  }

  .cartButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: grey;
    border-radius: 50%;
    z-index: 2;
  }
}