.container {
  background:  #cd5554;
  width: 100%;
  box-sizing: border-box;
  padding-top: 20px;
}

.cartItemContainer {
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin: 50px auto;
  padding:  25px 25px 0 25px;
}

.cartItem {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.itemCount {
  position: absolute;
  left: 60px;
  top: -10px;
  background: #fceed1;
  color: #cd5554;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
}

.itemImage {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
}

.itemName {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 800;
}

.priceContainer {
  padding-bottom: 50px;
}

.priceItem {
  display: flex;
  width: 500px;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
}

.itemLabel {
  font-weight: 300;
}

.itemValue {
  font-weight: 600;
}

.noValue {
  font-size: 12px;
  font-weight: 300;
}

.resPriceInfo {
  display: none;
}
/* 
.orderSummary {
  display: flex;
  padding: 40px 0;
  justify-content: space-around;
  background: #a0d2eb;
  font-weight: 300;
  font-size: 20px;
  transition: opacity 300ms ease-in-out;
} */

.orderSummary:hover {
  cursor: pointer;
  opacity: 0.9;
}

.orderSummary i {
  padding: 5px;
}

.toggle {
  font-size: 14px;
  color: rgb(82, 82, 82);
}

:global(.resCartInfo-enter) {
  max-height: 0;
  overflow: hidden;
}

:global(.resCartInfo-enter-active) {
  max-height: 800px;
  transition: all 300ms ease-in-out;
}

:global(.resCartInfo-exit) {
  max-height: 800px;
  overflow: hidden;
}

:global(.resCartInfo-exit-active) {
  max-height: 0;
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .resPriceInfo {
    display: block;
    background: #a0d2eb;
  }
}

@media screen and (max-width: 800px) {
  .cartItemContainer {
    width: 90%;
  }

  .priceItem {
    width: 90%;
  }
}