.container {
  background: #d0bdf4;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #494d5f;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
}

.itemInfo {
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemRow {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-grow: grow;
}

.rowLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.rowRight {
  width: 70%;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.itemImage {
  width: 400px;
  height: 400px;
  margin: 50px;
  background-position: center;
  background-size: cover;
}

.name {
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.price {
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

.description {
  font-size: 16px;
  text-indent: 25px;
  line-height: 25px;
  padding: 20px 0;
}

@media screen and (max-width: 1100px) {
  .itemInfo {
    margin: auto;
    width: 80%;
    padding: 20px;
  }
  
  .imageContainer {
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .rowLeft, .rowRight {
    width: 50%;
  }

  .itemImage {
    width: 300px;
    height: 300px;
    margin: 40px 0 0 0;
  }

  .description {
    padding: 20px 0;
  }
}