.itemButtons {
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 10px 15px;
  background: #cd5554; 
  color: #dce1e3;
  border-radius: 10px;
  /* border: 1px solid #e5eaf5; */
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  transition: all 200ms ease;
  width: 100px;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .button {
    padding: 10px 15px;
  }
}