.itemButtons {
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 10px 15px;
  background: #cd5554; 
  color: #fceed1;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #cd5554;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  transition: all 200ms ease;
  width: 100px;
  font-weight: 800px;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .button {
    padding: 10px 15px;
  }
}