.container {
  left: 0;
  position: absolute;
  width: 100%;
  top: 100px;
  height: 200px;
  background: #a0d2eb;
  z-index: 2;
}

.categoryContainer {
  display: flex;
  list-style-type: none;
  width: 50%;
  margin: auto;
  padding: 40px;
  justify-content: space-around;
}

.categoryContainer a {
  color: #494d5f;
}

.searchbarContainer {
  text-align: center;
  position: relative;
}

.searchbar {
  width: 50%;
  font-size: 24px;
  padding: 10px 20px;
}

.searchIcon {
  position: absolute;
  font-size: 30px;
  top: 50%;
  margin-top: -25px;
  padding: 10px;
  left: 75%;
  margin-left: -35px;
}

.resultsContainer {
  position: absolute;
  width: calc(50% + 40px);
  left: 25%;
  margin-left: -20px;
  background: #d0bdf4;
  color: #494d5f;
  padding: 0;
}

.noResult {
  padding: 50px;
}

.result {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  color: #494d5f;
  transition: background 300ms ease;
}

.result:hover {
  background: #e5eaf5;
}

.resultName {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.resultImage {
  height: 50px;
}

.seeAllContainer {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seeAll {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8458b3;
  padding: 5px 15px;
  border-radius: 5px;
}

.seeAll:hover {
  background: #9060c3;
}