.container {
  left: 0;
  position: absolute;
  width: calc(100% - 4px);
  top: 100px;
  height: 200px;
  background: #a0d2eb;
  z-index: 2;
  border: 2px solid #494d5f;
}

.categoryContainer {
  display: flex;
  list-style-type: none;
  width: 50%;
  margin: auto;
  padding: 40px;
  justify-content: space-around;
}

.categoryContainer a {
  color: #494d5f;
}

.searchbarContainer {
  text-align: center;
  position: relative;
}

.searchbar {
  width: 50%;
  font-size: 24px;
  padding: 10px 20px;
}

.searchIcon {
  position: absolute;
  font-size: 30px;
  top: 50%;
  margin-top: -25px;
  padding: 10px;
  left: 75%;
  margin-left: -35px;
}

.resultsContainer {
  position: absolute;
  width: calc(50% + 40px);
  left: 25%;
  margin-left: -20px;
  background: #e5eaf5;
  color: #494d5f;
  padding: 0; 
}

.noResult {
  padding: 50px;
}

.result {
  padding: 10px;
  display: flex;
  align-items: center;
  color: #494d5f;
  transition: background 300ms ease;
}

.result:hover {
  background: #a0d2eb;
}

.resultName {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.resultImage {
  height: 50px;
}

.seeAllContainer {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seeAll {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #494d5f;
  background: #a0d2eb;
  border-radius: 10px;
  padding: 5px 15px;
}

.seeAll:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1000px) {
  .categoryContainer {
    width: 80%;
    padding: 40px 20px;
  }

  .searchbar {
    width: 70%;
  }

  .searchIcon {
    left: 70%;
    margin-left: 30px;
  }

  .resultsContainer {
    width: calc(70% + 40px);
    left: 15%;
  }
}