.container {
  width: 100%;
  /* max-width: 600px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

.header {
  font-size: 30px;
  margin: 20px auto;
  font-weight: 300; 
}

.methodsContainer {
  width: 100%;
}

.methodContainer {
  padding: 30px;
  margin: 30px auto;
  box-shadow: rgba(39, 39, 73, 0.149) 0px 5px 5px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  box-sizing: border-box;
  position: relative;
}

.methodContainer i {
  position: absolute;
  font-size: 48px;
  color: dodgerBlue;
  right: -7px;
}

.methodContainer.active {
  background: rgb(152, 203, 255);
}

.methodContainer:hover {
  cursor: pointer;
  opacity: 0.9;
}

.itemName {
  font-size: 20px;
}

.itemDuration {
  font-size: 14px;
}

.itemPrice {
  font-size: 24px;
}

.buttonContainer {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.backButton, .nextButton {
  background: #cd5554;
  border: none;
  width: 120px;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
}

.backButton:hover, .nextButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.nextButton:disabled {
  opacity: 0.3;
}

@media screen and (max-width: 800px) {
  .container {
    width: 300px;
    margin: auto;
  }

  .header {
    text-align: center;
  }

  .methodContainer {
    width: 100%;
  }

  .backButton, .nextButton {
    padding: 10px 20px;
    margin: 0 10px; 
  }
}



